# Requirements for Counter
-r requirements.txt

# Dev requirements for Counter
pytest~=6.2.5
pytest-cov
codecov
sphinx
sphinx-rtd-theme
sphinxcontrib-openapi
flake8

MarkupSafe~=2.0.1
setuptools~=61.0.0